---
export interface Props {
  playStoreUrl?: string;
}

const { playStoreUrl = '#' } = Astro.props;
---
<div class="flex flex-wrap gap-4">
  <a
    href={playStoreUrl}
    class="inline-block focus:opacity-90 hover:opacity-90 transition-opacity"
    aria-label="Get it on Google Play"
  >
    <img
      src="/badges/get-it-on-google-play.svg"
      alt="Get it on Google Play"
      width="155"
      height="60"
      class="h-12 w-auto sm:h-14"
    />
  </a>
</div>
